body {
    background-color: #87CEEB;
    width: 100%;
}

#content {
    margin: auto;
}

.homepage-body {
    padding: 0% 2%;
}

#floatingInputGroup2 {
    width: 100%;
}

.btn-primary {
    margin-top: 2%;
}

.button {
    /*display: block;*/
    width: 100%;
    margin: auto;
    margin-top: 2%;
}

#weather-icon {
    display: block;
}

#login-button {
    width: 100%;
}

.forms .input-group {
    margin-top: 10px;
}

.floatingInputGroup {
    width: 100%;
}